/* Fontok */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@font-face { font-family: Protest; font-display: swap; src: url('fonts/ProtestRevolution-Regular.ttf'); }

* {
    box-sizing: border-box;
    margin: 0;
    color: white;
    font-family: 'Oswald';
}

/*HEADER*/
header{
    display: flex;
    position:sticky;
    justify-content: center;
    align-items: center;
    padding: 7px 10px;
    background-color: black;
    top:0;
    z-index: 1; /* z tengely is kell, hogy ne menjenek egymás mögé a dolgok */

}

.navbar{
    padding: 0 5px;
    position: absolute;
    left: 12px;
}

.navbar.hidden{
    display:none;
}

.navbar_x{
    display: none;
    align-self: center;
    position: absolute;
    top: 47%; /*valamiért nem tűnik teljesen középnek, matematikailag az pedig, szóval feljebb vittem picikét*/
    padding:0;
    margin: 0 0 0 5px;
    left:12px;
}
.navbar_x.visible{
    display:block;
}
.bar1, .bar2{
    display:block;
    width: 22px;
    height: 4px;
    background-color: rgb(224, 224, 224);
    border-radius: 10px;
    bottom: 4px;
    
}
.bar1{
    position: absolute;
    left:0;
    top:0;
    transform:rotate(-45deg);
}
.bar2{
    position: absolute;
    left:0;
    top:0;
    transform:rotate(45deg);
}
.ham_menu{
    margin: 0;

}
.bars {
    width: 22px;
    height: 4px;
    background-color: rgb(224, 224, 224);
    margin:5px 0;
    border-radius: 10px;
}
header a{
    display:block;
    text-align: center;
    width: 25%;
    color: black;
}
.logo{
    width: 80px;
}
nav{
    position:fixed;
    left: 0;
    width: 100%;
    background-color: rgb(206, 206, 206);
    padding: 10px;
    display:none;
    z-index: 1;
}

nav.visible{
    display:block;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    padding: 10px 0;
    text-align: center;
}

nav.active {
    display: block;
}


/*ARTICLE*/

article{
    background-color: black;
    
}

/*képslide*/



/* jQuery slide */
.slider {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}
.slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;

}
.slick-slide img {
    width: 100%; /* Kép szélessége */

}

.slick-prev:before, .slick-next:before {
color: black;
}

.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}
.slick-active {
    opacity: .5;

}
.slick-current {
    opacity: 1;
}



/*idézőjelek*/
.outer{
    position: relative;
}

.quotesymbtop, .quotesymbbot{
    color: rgb(220, 194, 61);
    font-family: 'Protest';
    font-size: 4em;

}
.quotesymbtop {
    position: absolute;
    top: -5px; /* Távolság a quotes konténer tetejétől */
    left: 7px; /* Távolság a quotes konténer bal szélétől */
}

.quotesymbbot {
    position: absolute;
    bottom: -35px; /* Távolság a quotes konténer aljától */
    right: 10px; /* Távolság a quotes konténer jobb szélétől */
}

/*idézetfade*/
.quotes{
    position: relative;
    opacity: 1;
    height: 150px;
    color: white;
    overflow: hidden;
    background-color: rgba(212, 212, 212, 0.1);
    border-radius: 25px;

    margin: 10px 10px 20px 10px;
}

.quotes .quote { 
    opacity: 0; /* Alapértelmezett elrejtés */
    position: absolute; /* Egymásra helyezéshez */
    width: 100%;
    
}

.quote p, .title{
    margin:0;
    padding:0;
    font-family: 'Oswald','sans-serif';
    font-weight: 300;

}
.quote p{
    position: relative;
    text-indent: 0;
    padding: 0;
    left: 30px;
    top: 20px;
}

.title{
    position: absolute;
    align-self: flex-start;
    padding: 0;
    opacity: 0;
    top:120px;
    right: 30px;
}
/*horizontal line*/
.und_quo{
    
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

}

.und_quo hr{
    
    width: 90%;
    color: grey;

}

/*album fülek*/

.albums{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.cirque, .program, .la {
    border-radius: 20px;
    width: 80%;
    margin: 10px 0;
}

.albums h2{
    text-decoration: none;
    color: black
}

.albums p{
    text-indent: 2em;
    text-align: left;
    margin: 15px 20px;
}

figcaption{
    margin: 0 0 0 5px;
    text-align:left;
}
article a{
    text-decoration: none;
    color: black;
}

.la{
    margin: 10px 0 20px 0;
}
.cirque a img, .program a img, .la a img {
    width: 80%;
}

.cirque{
    background-color: rgb(162, 38, 38);
}
.program{
    background-color: #bc8b3c;
}
.la{
    background-color: #3e6876;
}

/* Kolos */
.kolos{
    background-color: rgba(212, 212, 212, 0.238);;
    margin: 20px 20px;

}
.kolos_pic1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.kolos_pic1 img{
    margin: 20px auto;
    width: 90%;
    height: 200px;
    object-fit:cover;
    object-position: top;
    

}
.interviews1{
    margin-left:20px;
    margin-right: 20px;
}
.interviews1 p{
    padding-bottom: 20px;
    text-indent: 2em;
    font-family: 'Oswald','sans-serif';
}


/* footer */
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    background-color: grey;
    margin: 0;
}
footer p {
    font-size: small;
    margin:0 10px;
    color:rgb(192, 192, 192);
}
@keyframes fade{
    0% { opacity: 0; }   /* Kezdés */
    10% { opacity: 1; }  /* Megjelenítés kezdete */
    90% { opacity: 1; }  /* Megjelenítés vége */
    100% { opacity: 0; } /* Vég */
} 